<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
    /* body,td,th { font-size:80%; background:#fafbfb; } */
    /* #title { font-size:200%; color:#152d48; } */
    </style>
    <title> homepage</title>
    <link rel="stylesheet" href="base.css">
    </head>
    <body>
        <!-- <a href="!homepage!"> ホームに戻る</a> -->
    <h1 id="title"> 神倉美術館</h1>
 
    <form action="mus.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="mode" value="post">
        
        <!-- <ul class="tagu">
            <li><a href="ivent_hp.tmpl">展覧会・イベント</a></li>
            <li><a href="ticket_hp.tmpl">チケット購入</a></li>
            <li><a href="access_hp.tmpl">アクセス</a></li>
            <li><a href="fqa_hp.tmpl">お問い合わせ</a></li>
            <li><a href="login_hp.tmpl">ログイン画面</a></li>
        </ul> -->
        <table class="tagu">
            <form action="ivent_hp.tmpl" method="get">
                <button type="submit">展覧会・イベント</button>
            </form>
            <form action="ticket_hp.tmpl" method="get">
                <button type="submit">チケット購入</button>
            </form>
            <form action="access_hp.tmpl" method="get">
                <button type="submit">アクセス</button>
            </form>
            <form action="fqa_hp.tmpl" method="get">
                <button type="submit">お問い合わせ</button>
            </form>
            <form action="login_hp.tmpl" method="get">
                <button type="submit">ログイン画面</button>
            </form>
        </table>
        
    </form>
    <table>
        <tr>
            <td>ha</td>
        </tr>
    </table>
    
    <section>
        <a href="#" class="botan">TOPへ</a>
    </section>
 
    
 
    </body>
    </html>
