<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<style type="text/css">
  body { background:#f0f0f0; }
  .nav ul {margin: 30px 0 0 0; padding: 0; list-style-type: none;
    display: flex; justify-content: center; gap: 40px;}
  .gotop {
    text-align: center; display: flex; justify-content: center;}
  .gotop a img{ width: 100px;}
  .copyright {
      padding-top: 75px;
      padding-bottom: 75px;
      background-color: #253958;
      color: #ffffff;
      text-align: center;
  }
</style>
<title>homepage</title>
</head>
<body>
  <header>
    <h1 id="title"> <a href="base.tmpl">神倉美術館</a></h1>
    <nav class="nav">
        <ul>
            <li><a href="event_hp.tmpl">展覧会・イベント</a></li>
            <li><a href="./ticket_hp.tmpl">チケット購入</a></li>
            <li><a href="access_hp.tmpl">アクセス</a></li>
            <li><a href="../login/loguin_hp.php">ログイン画面</a></li>
            <li><a href="fqa_hp.tmpl">お問い合わせ</a></li>
        </ul>
    </nav>
    
</header>   
 <main>
  <img src="" alt="地図">
  <p>
    〒000-0000 東京都千代田区内幸町0-0-0
    TEL: 0-0000-0000
  </p>
  <h2>電車でお越しの方</h2>
  <ul>
    <li>○○線 徒歩3分</li>
    <li>地下鉄△△線 徒歩10分</li>
    <li>モノレール□□線 1分</li>
  </ul>
 </main>
 <footer>
  <div class="gotop">
      <a href="#top"><img src="../../img/top.png" alt="ページトップへ戻る"></a>
  </div>
  <div>
      <p class="copyright">&copy; KAMIKURA MUSEUM</p>
  </div>
</footer>

</body>
</html>