a{
    text-decoration: none;
    color: inherit;
}

#title {foncolor:#152d48; font-size: 50px; text-align: center;}
body,td,th { font-size:80%; background:#fafbfb; }
.botan{
    color: white;
    width : 50px;
    height: 50px;
    padding-top: 50px;
    margin: 0 auto;
    background-color: #152d48;
    text-decoration: none;
    display :block;
    border-radius: 15px;
}

/* *{
 display: center;
} */
.botan:hover{
    color: #152d48;
    background-color: white;
    border: 1px outset black;
    padding-top: 50px;
}

.nav ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    gap: 40px;
}
/* 
.tagu{
    display: flex;
    justify-content: space-between;
    width: 800px;  
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    text-decoration: none;
} */
li{
    list-style: none;
}

.gotop {
    text-align: center;
    display: flex;
    justify-content: center;
}
.gotop a img{
    width: 100px;
}
.copyright {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #253958;
    color: #ffffff;
    text-align: center;
}