<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
    </style>
    <title> homepage</title>
    <link rel="stylesheet" href="base.css">
    </head>
    <body>
        <!-- <a href="!homepage!"> ホームに戻る</a> -->
    <h1 id="title"> 神倉美術館</h1>
 
    
    <form action="../mus.php" method="get" enctype="multipart/form-data">
        <input type="hidden" name="mode" value="get">
        <ul class="tagu">
            <li>
                <form action="event_hp.tmpl" method="get">
                    <button type="button" onclick="location.href='event_hp.tmpl'">展覧会・イベント</button>
                </form>
            </li>
            <li>
                <form action="./ticket_hp.tmpl" method="get">
                    <button type="submit">チケット購入</button>
                </form>
            </li>
            <li>
                <form action="access_hp.tmpl" method="get">
                    <button type="submit">アクセス</button>
                </form>
            </li>
            <li>
                <form action="fqa_hp.tmpl" method="get">
                    <button type="submit">お問い合わせ</button>
                </form>
            </li>
            <li>
                <form action="../login/login_hp.php" method="get">
                    <button type="submit">ログイン画面</button>
                </form>
            </li>
        </ul>
    </form>
    <table>
        <tr>
            <td>ha</td>
        </tr>
    </table>
    
    <section>
        <a href="#" class="botan">TOPへ</a>
    </section>

    </body>
    </html>
