<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .header {padding-top: 40px; background-image: url(../../../img/stripe.png); background-repeat: repeat-x;}
        .form{ color: rgba(230, 89, 34, 0.795);}
        body { font-size:100%; background:#f0f0f0; }
        .detail {color: #253958;}
        #title{color:#253958; font-size: 50px; text-align: center;}
        a{text-decoration: none; color: inherit;}
        main h2{border-bottom: 2px solid #253958;}
        .nav ul {margin: 30px 0 0 0; padding: 0; list-style-type: none;
         display: flex; justify-content: center; gap: 40px;}
        .gotop {
            text-align: center; display: flex; justify-content: center;}
        .gotop a img{ width: 100px;}
        .copyright {
            padding-top: 75px;
            padding-bottom: 75px;
            background-color: #253958;
            color: #ffffff;
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="header">
        <h1 id="title"> <a href="base.tmpl">神倉美術館</a></h1>
        <nav class="nav">
            <ul>
                <li><a href="./event/index.php">展覧会・イベント</a></li>
                <li><a href="ticket_hp.tmpl">チケット予約</a></li>
                <li><a href="access_hp.tmpl">アクセス</a></li>
                <li><a href="../login/loguin_hp.php">ログイン画面</a></li>
                <li><a href="fqa_hp.tmpl">お問い合わせ</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <h2>チケット予約画面</h2>
        <div>
            <h3>注意事項</h3>
            <p>チケット予約にはユーザー名とパスワードが必須です。</p>
            <p><a class="form" href="../login/loguin_form.html">新規会員登録</a>または<a class="form" href="../admin/admin_ticket/admin_ticket.html">チケット予約</a>へお進みください。</p>
        </div>
        <div>
            <h3>予約手順</h3>
            <p>1.新規会員登録</p>
            <p>2.ログイン画面からマイページにログイン</p>
            <p>3.チケット予約画面ボタンをクリック</p>
            <p>4.画面に進む</p>
            <p>5.マイページのチケット予約ボタンをクリック</p>
        </div>
    </main>
    <footer>
        <div class="gotop">
            <a href="#top"><img src="../../img/top.png" alt="ページトップへ戻る"></a>
        </div>
        <div>
            <p class="copyright">&copy; KAMIKURA MUSEUM</p>
        </div>
    </footer>
</body>
</body>
</html>