<hr>
<form action="admin_ivent.html" method="get">
            <input type="submit" value="削除">
            <input type="hidden" name = "mode" value="delete">
            <input type="hidden" name = "id" value="!id!">
</form>
タイトル： <b style="color:#000000">!title!</b><br>
日時： !date!<br>
開催期間： <b>!dob_s! ~ !dob_e!</b><br>
<p>!comment!</p>